{% extends "layout.twig" %}

{%  block top_links %}
    <a href="{{ route( 'mes_reservations' ) }}" class="btn btn-info">Mes réservations</a>
    <a href="{{ route( 'logout' ) }}" class="btn btn-danger">Déconnexion</a>
{%  endblock %}


{% block content %}
    <div class="d-flex justify-content-center">
        <div class="card w-100">
            <ul class="list-unstyled">
                {% for rooms in rooms %}
                    <div class="card m-3">
                        <div class="card-body d-flex">
                            
                            <div class="card m-3 w-75">
                                <li class="d-flex card-body p-2">
                                    <ul class="list-unstyled">
                                        <li class="p-1 font-weight-bold">
                                            {{ rooms.city }} ({{ rooms.country }})
                                        </li>
                                        <li class="p-1 font-weight-bold">
                                            {{ rooms.room_type }}
                                        </li>

                                        <li class="p-1">
                                            {{ rooms.description }}
                                        </li>
                                        <li class="p-1">
                                            {{ rooms.beds }} couchage(s), {{ rooms.size }} m²
                                        </li>
                                        <li class="p-1 font-weight-bold">
                                            {{ rooms.price }} € par nuit
                                        </li>
                                    </ul>
                                </li>
                                <div class="align-self-end card-body p-2">
                                    <a href="{{ route( 'annonce', { 'id': rooms.id } ) }}" class="btn btn-success mx-3">Voir le détail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}